allow mediaserver camera_prop:property_service set;
allow mediaserver shell_data_file:dir search;
allow mediaserver sysfs_camera:dir search;
allow mediaserver sysfs_camera:file rw_file_perms;
