allow mm-qcamerad sysfs_camera:file { read write };
allow mm-qcamerad system_data_file:sock_file { create unlink };
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
