type sensorhubservice, domain;
type snesorhubservice_exec, exec_type, file_type;
init_daemon_domain(sensorhubservice)

allow sensorhubservice self:process execmem;
