allow system_app gamma_dev:file rw_file_perms;
allow system_app keypad_dev:file rw_file_perms;
allow system_app panel_dev:file rw_file_perms;
allow system_app shell_data_file:dir search;
allow system_app vibe_dev:file rw_file_perms;
