allow tee efs_file:dir r_dir_perms;
allow tee efs_file:file r_file_perms;
allow tee qseecomd_prop:property_service set;
allow tee system_prop:property_service set;
allow tee init:unix_stream_socket connectto;
allow tee property_socket:sock_file write;
