allow vold persist_file:dir getattr;
allow vold efs_file:dir r_dir_perms;
allow vold vold_tmpfs:file create_file_perms;
allow vold storage_stub_file:dir rw_dir_perms;
allow vold storage_stub_file:file rw_file_perms;
# Needed for keymaster firmware
allow vold firmware_file:dir r_dir_perms;
allow vold firmware_file:file r_file_perms;
